@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3274ba;
  --color-secondary: #012750;

  --text-1.5xs: 0.6875rem;
  --text-1.5xs--line-height: calc(0.8125 / 0.6875);
}

body {
  font-family: "Poppins", sans-serif;
}
